<%- include("./partials/header.ejs") %>
<main>
  <section>
    <h2>Cuestionario</h2>
    <% if (tests.length > 0) { %>
    <% tests.forEach((test) => { %>
      <form id="<%= test._id %>" action="">
        <p><%= test.question %></p>
        <input type="radio" name="<%= test._id %>" value="1"><span><%= test.answer1 %></span><br>
        <input type="radio" name="<%= test._id %>" value="2"><span><%= test.answer2 %></span><br>
        <input type="radio" name="<%= test._id %>" value="3"><span><%= test.answer3 %></span><br>
        <input type="radio" name="<%= test._id %>" value="4"><span><%= test.answer4 %></span><br>
      </form>
    <% }) %>
    <% } else { %>
    <p>Las preguntas no están preparadas todavía.</p>
    <% } %>
  </section>
</main>

<%- include("./partials/footer-exam.ejs") %>